body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-size: cover;
    background-size: 50px 50px;
}
.about-me{

}

.container {
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.about-me:hover{

}

.social-links {
    margin-top: 20px;
    position: relative; 
    bottom: 0;
    width: 100%; 
    text-align: center; 
}

.social-links a {
    margin: 0 10px;
    color: darkgray;
    font-size: 30px;
    transition: color 0.3s;
    text-decoration: none; 

}

.social-links a:hover {
    color: #007bff; 
    transform: translateY(-5px);
}


.social-links a:hover {
    color: #0073b1; 
    transform: translateY(-5px);
}

.social-links a:first-child:hover {
    color: #333; 
    transform: translateY(-5px);
}
a.image-link {
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

a.image-link img {
    display: block;
    width: 200px; 
    height: auto;
}
a.image-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}
.projects{
    position: relative;
    margin-top: 20px;
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.projects:hover{
    margin-top: 20px;
    background: azure;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transform: scale(1.05);
}

button{
    border-radius: 0px;
    background-color: orangered;
    transition: all 0.4s ease;
    border: 1px solid black;
    text-decoration-color: #f4f4f4;

}


button:hover {
    background-color: white;
    color: black;
    transition: transform 0.5s ease;
    transform: translateY(-5px);

}

div a {
    color: rgba(100, 200, 200, 1);
    text-decoration: none;

  }
  
  div a {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  div a:hover {
    background-size: 0 3px, 100% 3px;
  }




