body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.about-me {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.social-links {
    margin-top: 20px;
    position: relative; /* Fixes the position at the bottom */
    bottom: 0;
    width: 100%; /* Ensures the links span the entire width */
    text-align: center; /* Centers the links horizontally */
}

.social-links a {
    margin: 0 10px;
    color: #333;
    font-size: 30px;
    transition: color 0.3s;
    text-decoration: none; /* Removes underline from links */
}

.social-links a:hover {
    color: #007bff; /* Changes color on hover */
}


.social-links a:hover {
    color: #0073b1; /* LinkedIn blue color */
}

.social-links a:first-child:hover {
    color: #333; /* GitHub color */
}
a.image-link {
    display: inline-block;
    border: 2px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

a.image-link img {
    display: block;
    width: 200px; 
    height: auto;
}
a.image-link:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}